@font-face {
  font-family: "IRANYekanWebLight";
  src: url("../assets/fonts/IRANYekanWebLight.eot") format("eot"),
    url("../assets/fonts/IRANYekanWebLight.woff") format("woff"),
    url("../assets/fonts/IRANYekanWebLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* /////////////// */
@layer base {
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    scrollbar-width: none !important;
    font-family: "IRANYekanWebLight";
  }
  ::-webkit-scrollbar {
    width: 0px !important;
  }
  html {
    background-color: black;
    direction: rtl !important;
  }
  body {
    background-color: black;
  }
}
/* /////////////// */
@layer components {
  .parent-login {
    @apply w-full flex justify-center items-center;
    background-image: url(../assets/image/BgLogin.jpg);
    background-size: cover;
    height: 100vh;
  }
  .login {
    @apply flex flex-col justify-center shadow-xl rounded-md items-center p-4;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(20px);
  }
  .Logo {
    width: 100px;
    height: 100px;
  }
  .LoginInput {
    @apply outline-none mt-5 bg-[#2726299c]  shadow-2xl text-center border-[#1716187c] text-white  rounded-lg;
    width: 250px;
    height: 50px;
  }
  .loginBtn {
    @apply flex justify-center  hover:opacity-70 items-center p-3 mt-4 bg-blue-700  opacity-100 duration-500 transition-all rounded-md text-white;
    width: 100px;
  }
  /* //////////////////////////// */
  .ParentRegister {
    @apply w-full flex overflow-y-scroll justify-start items-center;
    background-image: url(../assets/image/BgRegister.jpg);
    background-size: cover;
    padding-right: 15vw;
    height: 100vh;
  }
  .Register {
    @apply flex flex-col justify-center rounded-md items-center p-4;
    width: 550px;
  }
  .FormInputRegister {
    @apply flex w-full flex-wrap justify-evenly items-center;
  }
  .RegisterBtn {
    @apply flex justify-center hover:opacity-70 items-center p-3 mt-4 bg-blue-700  opacity-100 duration-500 transition-all rounded-md text-white;
    width: 100px;
  }
  .RegisterInput {
    @apply outline-none mt-5 bg-white shadow-2xl text-center text-black rounded-sm;
    width: 250px;
    height: 50px;
  }
  .ErrorMessage {
    @apply mt-2 flex items-center justify-center bg-red-700 opacity-80 px-5 p-2 rounded-md text-white;
    width: 250px;
  }
  @media only screen and (max-width: 750px) {
    .parent-login {
      @apply w-full flex justify-center items-start pt-4;
      background-image: url(../assets/image/BgLoginMobile.jpg);
      background-size: cover;
      overflow: hidden;
    }
    .login {
      @apply bg-transparent;
    }
    .ParentRegister {
      @apply w-full p-0 flex justify-center  items-start;
      background-image: url(../assets/image/BgRegisterMobile.jpg);
      background-size: cover;
      height: 100vh;
    }
    .ParentInputRegister {
      @apply flex-col justify-center items-center;
    }
  }
  .ParentHome {
    @apply flex flex-col overflow-y-scroll justify-start items-center;
    background-image: url(../assets/image/BgHome.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .ParentMain {
    @apply flex justify-evenly items-center  flex-wrap w-full p-2;
    height: 100vh;
  }
  /* /////////////////////////////////// */
  .Console {
    @apply flex relative flex-col justify-between  p-3 m-4 mt-6 pt-8 items-center bg-white bg-opacity-90 shadow-md rounded-xl;
    min-width: 280px;
    height: 200px;
    width: 300px;
  }
  .ConsoleNumber {
    @apply bg-white rounded-full;
    position: absolute;
    top: -25px;
  }
  .ConsoleTimer {
    @apply flex items-center justify-center text-2xl;
  }
  .SelectedMoneyConsole {
    @apply flex items-center w-full relative justify-center text-center cursor-pointer bg-slate-300 rounded-md px-1 p-3;
    width: 110px;
  }
  .UlMoney {
    @apply flex flex-col bg-white items-center justify-center mt-1 rounded-md shadow-md overflow-hidden absolute;
    z-index: 99999;
    width: 109px;
    top: 48px;
  }
  .UlMoney li {
    @apply p-1 w-full text-lg text-center cursor-pointer hover:bg-slate-300 transition-all;
  }
  .ConsoleMoney {
    @apply flex my-2 items-center justify-center text-3xl transition-all;
  }
  .BtnConsoleStart {
    @apply flex items-center justify-between p-2 px-5 rounded-md text-green-900 bg-green-300 hover:bg-green-400 transition-all;
  }
  .BtnConsoleFinish {
    @apply flex items-center justify-between p-2 px-5 rounded-md text-red-900 bg-red-300 hover:bg-red-400 transition-all;
  }
  /* ///////////////////////////////////// */
  .ParentFoods {
    @apply flex items-center flex-col px-3 justify-start w-full;
    background-image: url(../assets/image/BgFood.jpg);
    background-size: cover;
    height: 100vh;
  }
  .TableFoods {
    @apply w-full bg-white rounded-md overflow-hidden shadow-md;
  }
  .btn-new-food {
    @apply my-3 flex items-center mt-0 p-2 bg-red-500 border-2 border-black text-white hover:bg-red-600 transition-all rounded-lg shadow-md;
  }
  .btn-new-money {
    @apply my-3 flex items-center mt-0 p-2 bg-green-500 border-2 border-white text-white hover:bg-green-600 transition-all rounded-lg shadow-md;
  }
  .TdHeaderFoods {
    @apply flex justify-center items-center p-3;
  }
  .TableFoods tbody tr td {
    @apply text-center p-3;
  }
  .TableFoods tbody tr {
    border-bottom: 1px dashed #e4e6ef;
  }
  .BtnRemove {
    @apply flex m-1  items-center justify-between p-2 px-3 mr-1 rounded-md text-red-900 bg-red-200 hover:bg-red-400 transition-all;
  }
  .BtnChange {
    @apply mr-2 flex items-center justify-between p-2 px-5 rounded-md text-yellow-900 bg-yellow-200 hover:bg-yellow-400 transition-all;
  }
  .ParentModal {
    @apply fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto;
  }
  .ModalDivOne {
    @apply relative  pointer-events-none;
  }
  .ModalDivTwo {
    @apply modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current;
  }
  .ModalHeader {
    @apply flex items-center justify-between p-3 border-b border-gray-200 rounded-t-md;
  }
  .ModalMain {
    @apply flex  justify-center items-center w-full relative py-4 px-3;
  }
  .ModalFooter {
    @apply flex items-center justify-evenly flex-wrap p-3 border-t border-gray-200 rounded-b-md;
  }
  .BtnAccept {
    @apply flex m-1 items-center justify-between p-2 px-5 rounded-md text-green-900 bg-green-200 hover:bg-green-400 transition-all;
  }
  .Parent-food-store {
    @apply p-3 flex w-full text-center justify-center  items-center;
  }
  .consolePay {
    @apply p-2 text-3xl;
  }
  .table-faktor {
    @apply text-center w-full rounded-lg shadow-md overflow-hidden;
  }
  .faktor-header {
    @apply bg-red-300;
    border-bottom: dashed 1px black;
  }
  .faktor-header-td {
    @apply p-2 flex items-center justify-evenly;
  }
  .faktor-main:nth-child(odd) {
    @apply bg-slate-200;
  }
  .faktor-main:nth-child(even) {
    @apply bg-slate-300;
  }
  .faktor-main td {
    @apply p-3;
  }
  .faktor-footer {
    @apply bg-yellow-300;
    border-top: dashed 1px black;
  }
  .faktor-footer tr td {
    @apply p-3  text-lg font-bold;
  }
  .food-input {
    @apply p-3 m-2 rounded-md text-right bg-slate-200 outline-none;
  }
  .menu-setting {
    @apply offcanvas-top fixed bottom-0 flex flex-col bg-slate-100 invisible shadow-xl outline-none transition duration-300 ease-in-out text-gray-700 top-0 left-0 mx-auto right-0 border-none rounded-b-md;
    max-width: 280px;
    height: 330px;
  }
  .parent-main-menu-setting {
    @apply flex w-full mt-1  flex-col justify-center items-center px-2;
  }
  .menu-setting-items {
    @apply w-full p-2 flex items-center justify-start shadow-md bg-white rounded-md cursor-pointer hover:scale-95 transition-all duration-300 my-1;
  }
  .parent-consols {
    @apply w-full flex bg-white flex-col justify-start overflow-y-scroll items-center;
    background-image: url(../assets/image/bg-consols.jpg);
    background-size: cover;
    height: 100vh;
  }
  .manage-consols {
    @apply flex border-2 border-white flex-col m-5 p-3 opacity-95 relative justify-evenly items-center shadow-md bg-black rounded-lg;
  }

  .console-icon {
    @apply m-2 text-2xl cursor-pointer;
  }
  .new-console {
    @apply flex mt-16 cursor-pointer justify-center p-2 px-4 shadow-lg items-center rounded-lg bg-green-500;
  }
  .parent-management-money {
    @apply w-full flex flex-col overflow-y-scroll justify-start items-center p-2;
    background-image: url(../assets/image/bg-money.jpg);
    background-size: cover;
    height: 100vh;
  }
  .TableFoods tbody tr:nth-child(even) {
    @apply bg-[#d1d1d180];
  }
  .table-money {
    @apply w-full text-center rounded-md overflow-hidden shadow-md mt-1 bg-white;
  }
  .table-money tbody tr:nth-child(even) {
    @apply bg-slate-200;
  }
  .table-money thead tr {
    @apply bg-slate-200;
  }
  .td-money {
    @apply p-2;
  }
  .parent-quick-access {
    @apply bg-black absolute left-0 right-0 mx-auto overflow-hidden border-2 px-3 rounded-b-2xl border-yellow-500 border-t-0 shadow-2xl;
    z-index: 5000;
    width: 150px;
  }
  .parent-drawer {
    @apply offcanvas-end fixed bottom-0 flex flex-col max-w-full bg-black bg-opacity-90 invisible bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out text-gray-700 top-0 right-0 border-none;
    z-index: 5001;
    width: 250px;
  }
  .Parent-bills {
    @apply flex items-center flex-col px-3 justify-start w-full;
    background-image: url(../assets/image/bg-bills.jpg);
    background-size: cover;
    height: 100vh;
  }
  .Table-bills {
    @apply w-full bg-white rounded-md shadow-md;
  }
  .Table-bills tbody tr td {
    @apply text-center p-3;
  }
  .TableFoods tbody tr {
    border-bottom: 1px dashed #e4e6ef;
  }
  .Table-bills tbody tr:nth-child(even) {
    @apply bg-[#d1d1d180];
  }
  .td-header-foods {
    @apply flex justify-center items-center p-3 py-4;
  }
  .bill-info-start {
    @apply w-full flex-row-reverse flex-wrap flex items-center justify-between bg-slate-200 shadow-md rounded-md p-5;
  }
  .background-select-money {
    position: absolute;
    z-index: 5001;
    height: 100vh;
    width: 100vw;
  }
  @media only screen and (min-width: 576px) {
    .ModalDivOne {
      max-width: 600px !important;
    }
  }
}
